#term_report_acception
  - if term_report.accepted?
    .alert.alert-success
      %strong Seemesterstatistik akzeptiert.
      Diese Semesterstatistik wurde vom Vorort am
      = localize term_report.accepted_at.to_date
      akzeptiert.
      Alles erledigt.
      - if term_report.state.comment.present?
        .comment.media
          .media-left= user_avatar term_report.state.author
          .media-body
            .author
              = link_to term_report.state.author.title, term_report.state.author
            .text= term_report.state.comment
  - elsif term_report.state && term_report.state.submitted?
    - if can?(:accept, term_report) and can?(:reject, term_report)
      .alert.alert-warning
        %strong Handlungsbedarf für den Bundeskassenwart:
        Diese Semesterstatistik muss noch geprüft und anschließend akzeptiert oder abgelehnt werden.

        = form_tag term_report_accept_path(term_report_id: term_report.id), class: 'term_report_acception_tools' do
          %textarea.form-control{name: "state_comment", placeholder: "Kommentar hinzufügen"}
          = submit_tag "Verbindlich akzeptieren", class: 'btn btn-outline-secondary accept_term_report', name: "accept"
          = submit_tag "Ablehnen", class: 'btn btn-danger reject_term_report', name: "reject"
