%h1 Amtsträger
%div
  %table.officers
    %tr
      %th Senior:
      %td= link_to_user_with_phone_number(term_report.senior) if term_report.senior
    %tr
      %th Fuxmajor:
      %td= link_to_user_with_phone_number(term_report.fuxmajor) if term_report.fuxmajor
    %tr
      %th Kneipwart:
      %td= link_to_user_with_phone_number(term_report.kneipwart) if term_report.kneipwart
    %tr
      %th Kassenwart:
      %td= link_to_user_with_phone_number(term_report.kassenwart) if term_report.kassenwart
    %tr
      %th Philister-x:
      %td= link_to_user_with_phone_number(term_report.philister_x) if term_report.philister_x
