#term_report_submission
  - if term_report.submitted? && (not term_report.state.rejected?)
    .alert.alert-success
      %strong Statistik abgeschickt.
      Diese Semesterstatistik wurde am
      = localize term_report.submitted_at
      von
      = link_to term_report.submitted_by.title, user_path(term_report.submitted_by)
      abgeschickt.
  - elsif not term_report.too_old_to_submit?
    - if not term_report.due?
      .alert.alert-info
        %strong Semesterstatistik noch nicht abgeschickt.
        Das Semester läuft noch.
        Ab dem
        = localize term_report.due_at
        wird Chargierten an dieser Stelle ein Knopf zum Abschicken der Statistik angezeigt.
        .buttons
          - if can? :recalculate, term_report
            = button_to term_report_recalculate_path(term_report_id: term_report.id), class: 'btn btn-default recalculate_term_report', method: :post do
              Neu berechnen
    - if term_report.due?
      .alert.alert-warning
        %strong Semesterstatistik noch nicht abgeschickt!
        Diese Statistik muss von einem Chargierten bis zum
        = localize term_report.over_due_at
        an den Vorort geschickt werden.
        .buttons
          - if can? :recalculate, term_report
            = button_to term_report_recalculate_path(term_report_id: term_report.id), class: 'btn btn-default recalculate_term_report', method: :post do
              Neu berechnen
          - if can? :submit, term_report
            = button_to term_report_submit_path(term_report_id: term_report.id), class: 'btn btn-default submit_term_report', method: :post do
              = icon :check
              Verbindlich an den Vorort schicken
            .submission_author
              = user_avatar(current_user)
              = current_user.title
