.page-header
  .row.align-itens-center
    .col-auto.mb-3
      .page-pretitle
        = t :term_report
        = term_report.group.title
      .page-title
        = term.title
    .col-auto.ml-auto
      = render partial: 'select_form'

.row.row-deck
  .col-md-6.pb-4
    %div
      = render partial: 'rejected_box'
      = render partial: 'submission_box'
      = render partial: 'acception_box'

  .col-md-6
    = render group.number_of_members_chart

  = render partial: 'some_numbers'

  .col-md-3
    = render partial: 'officers'
  .col-md-3
    = render partial: 'semester_calendar'

  .col-sm-12= render partial: 'member_box', locals: {group_name: "Hospitanten"} if term_report.hospitanten.any?
  .col-sm-12= render partial: 'member_box', locals: {group_name: "Fuxen"}
  .col-sm-12= render partial: 'member_box', locals: {group_name: "Aktive Burschen"}
  .col-sm-12= render partial: 'member_box', locals: {group_name: "Inaktive Burschen loci"}
  .col-sm-12= render partial: 'member_box', locals: {group_name: "Inaktive Burschen non loci"}
  .col-sm-12= render partial: 'member_box', locals: {group_name: "Konkneipanten"}
