- set_title("Gruppen-Mitgliedschaften - #{@user.title}")

%h1= @user.title
%div
  %h2 Bezirksverband
  %p
    - if @user.bv
      = link_to @user.bv.name, @user.bv
      = "(seit #{localize(@user.bv_membership.valid_from)})" if @user.bv_membership.valid_from
    - else
      Keiner.
  %h2 Erstband
  %p
    - if @user.first_corporation
      = link_to @user.first_corporation.name, @user.first_corporation
    - else
      Keines.
  %h2 Wingolfit?
  %p
    = @user.wingolfit? ? "Ja." : "Nein, da keine aktuelle Mitgliedschaft in einer Wingolfsverbindung eingetragen ist."
  %h2 Besondere Rollen
  %p
    Globaler Administrator:
    = @user.global_admin? ? "Ja" : "Nein"
  %p
    Globaler Amtsträger (Bundesamtsträger):
    = Role.of(@user).global_officer? ? "Ja" : "Nein"
      
%h1.memberships= "Gruppen-Mitgliedschaften von #{@user.title}"
%div
  = render partial: 'memberships_table', locals: {memberships: @memberships}
