%h1= current_title
%div
  %p
    %table
      %tr
        %td Aktivmeldungen:
        %td= term_info.anzahl_aktivmeldungen
      %tr
        %td Philistrationen:
        %td= term_info.anzahl_philistrationen
      %tr
        %td Todesfälle
        %td= term_info.anzahl_todesfaelle
      %tr
        %td Austritte Aktive
        %td= term_info.anzahl_austritte_aktive
      %tr
        %td Austritte Philister
        %td= term_info.anzahl_austritte_philister
      %tr
        %td
      %tr
        %td Alle Aktiven:
        %td= term_info.anzahl_aller_aktiven
      %tr
        %td Erstbandträger der Aktivitas
        %td= term_info.anzahl_erstbandtraeger_aktivitas
      %tr
        %td Fuxen:
        %td= term_info.anzahl_fuxen
      %tr
        %td Aktive Burschen:
        %td= term_info.anzahl_aktiver_burschen
      %tr
        %td Inaktive Burschen loci:
        %td= term_info.anzahl_inaktiver_burschen_loci
      %tr
        %td Inaktive Burschen non loci:
        %td= term_info.anzahl_inaktiver_burschen_non_loci
      %tr
        %td Konkneipanten:
        %td= term_info.anzahl_konkneipwanten
      %tr
        %td Philister:
        %td= term_info.anzahl_philister
      %tr
        %td Erstbandträger der Philisterschaft
        %td= term_info.anzahl_erstbandtraeger_philisterschaft
