%h1 Wingolfsblätter
%div
  %p
    Diese Zusammenstellung dient der Hilfestellung bei Verwaltungsaufgaben rund um die Erstellung und den Versand der Wingolfsblätter. Sie kann von allen
    = link_to "globalen Amtsträgern", group_members_path(@global_officers)
    eingesehen werden.

%h1 Empfänger-Adressen exportieren
%div
  %ol
    - if @issues_count > 0
      %li
        %strong Verwaltungsprobleme lösen.
        %br
        Derzeit bestehen
        %strong
          = link_to "#{@issues_count} relevante Verwaltungsprobleme.", @issues_path
        Diese
        %strong
          müssen vor dem Export gelöst werden!
        %p
          = link_to @issues_path, class: 'btn btn-default' do
            = icon :flag
            Verwaltungsprobleme lösen
    %li
      %strong Export der Adressen.
      %br
      Der Export kann mehrere Minuten dauern. Falls ein Timeout auftritt, einfach nocheinmal exportieren.
      %p
        = link_to group_list_export_path(@abonnenten, format: 'xls', list: 'wingolfsblaetter'), class: 'btn btn-default' do
          = excel_icon
          Export der Empfänger-Liste
        = link_to wbl_abo_address_caches_path, method: :delete, remote: true, class: 'btn btn-default has_tooltip destroy_wbl_abo_address_caches', title: "Adress-Caches löschen, um nach kurzfristigen Änderungen eine aktuelle Liste zu erhalten. Der Export dauert danach ca. 12 Minuten." do
          = icon :repeat
    %li
      %strong Plausibilitätsprüfung.
      %br
      Empfänger-Liste händisch auf Plausiblität prüfen. Dazu bitte die exportierte Datei in Excel oder Numbers öffnen und händisch prüfen.
    %li
      %strong Versand.
      %br
      Empfänger-Liste an
      = link_to "Eisenberg", user_path(@eisenberg)
      schicken.

%h1 Statistik exportieren
%div
  - list_preset = @statistics_preset
  %p
    %strong=t list_preset
  %p.explanation=t "#{list_preset}_explanation"
  %p.buttons
    = link_to statistics_path(list: list_preset, format: 'csv'), class: 'btn btn-default' do
      = csv_icon
      Als CSV-Tabelle herunterladen


%h1 Geburtstagsliste exportieren
%div
  Philister-Geburtstage exportieren.
  %p
    = link_to group_list_export_path(@philister, :format => :xls, :list => :special_birthdays), class: 'btn btn-default' do
      = excel_icon
      = t :birthday_list
    = link_to group_list_export_path(@philister, :format => :xls, :list => :special_birthdays, quarter: 1), class: 'btn btn-default' do
      = excel_icon
      Quartal 1
    = link_to group_list_export_path(@philister, :format => :xls, :list => :special_birthdays, quarter: 2), class: 'btn btn-default' do
      = excel_icon
      Quartal 2
    = link_to group_list_export_path(@philister, :format => :xls, :list => :special_birthdays, quarter: 3), class: 'btn btn-default' do
      = excel_icon
      Quartal 3
    = link_to group_list_export_path(@philister, :format => :xls, :list => :special_birthdays, quarter: 4), class: 'btn btn-default' do
      = excel_icon
      Quartal 4

%h1 Unsere Toten exportieren
%div
  %p Liste der zuletzt verstorbenen Wingolfiten exportieren.
  %p
    Die folgende Liste enthält die Verstorbenen der letzten zwölf Monate, sortiert nach dem Sterbedatum.
    Bitte händisch mit den
    = link_to "letzten Wingolfsblättern", @wbl_page
    abgleichen, sodass die bereits veröffentlichten Todesfälle nicht nocheinmal abgedruckt werden.
  %p
    = link_to group_list_export_path(@verstorbene, format: :xls, list: :deceased_members), class: 'btn btn-default' do
      = excel_icon
      Liste unserer Toten der letzten zwölf Monate


%h1 Wingolfsblätter-PDF hochladen
%div
  %ol
    %li
      Auf
      %strong= link_to @wbl_blog_post.title, @wbl_blog_post
      klicken.
      %p
        = link_to @wbl_blog_post, class: 'btn btn-default' do
          = icon :book
          = @wbl_blog_post.title
    %li
      Dort das PDF in den blauen Kasten "Dokumente oder Bilder hierher schieben!" schieben und warten, bis es hochgeladen ist.
    %li
      In der Rubrik "Dokumente" auf "Bearbeiten" klicken und "Wingolfsblätter x/20xx" als
      %strong Titel eintragen
      sowie "Titelthema: xxx" als
      %strong Beschreibung eintragen.
